<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.obligatoriomoviles">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".presentacion.Perfil_serie"></activity>
        <activity android:name=".presentacion.nuevo_usuario2" />
        <activity
            android:name=".presentacion.Slider"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentacion.ValidarCuentaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".presentacion.Calendario_elementos" />
        <activity android:name=".presentacion.Perfil_usuario" />
        <activity android:name=".presentacion.Perfil_elemento" />
        <activity
            android:name=".presentacion.Menu_principal"
            android:label="@string/title_activity_menu_principal" />
        <activity
            android:name=".presentacion.NuevoUsuarioActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".presentacion.login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>